backend:
  name: github
  repo: haffla/willmann
  branch: master # Branch to update
media_folder: "photos/gal"
collections:
  - name: "gal" # Used in routes, e.g., /admin/collections/blog
    label: "Gal" # Used in the UI
    folder: "content/gal" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Gallery", name: "gal", widget: "string", default: "gal"}
      - {label: "Body", name: "body", widget: "markdown"}
