@import "reset";

$font-size-big: 14px;
$font-size-text: 11px;
$font-size-small: 9px;

body {
  font-family: Helvetica, sans-serif;
  line-height: 13px;
  letter-spacing: 1px;
}

#main-wrapper {
  margin: 75px 10px 10px 10px;
  //min-height: 100vh;
}

#content-wrapper {
  margin: 75px auto 10px auto;
  max-width: 1110px;
  padding: 0 50px;
  text-align: center;
}

a {
  color: black;
  &:hover {
    text-decoration: none !important;
  }
}

// Only index page
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.gallery-image {
  img {
    max-width: 100%;
    max-height: 90%; // old browsers
    max-height: 90vh; // modern browsers (old ones ignore this)
  }
}

.the-content {
  margin-top: 10px;
  text-align: center;
}

.the-title {
  position: absolute;
  font-size: $font-size-big;
  left: 10px;
  top: 10px;
}

#single-actions {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  a {
    margin-right: 10px;
  }
  a:last-child {
    margin-right: 0;
  }
}

p, td, a {
  font-size: 16px;
  text-decoration: none;
}

#copyright-section {
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: $font-size-small;
  background-color: black;
  color: white;
}

#personal {
  position: fixed;
  z-index: 9999999;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 37px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .wrapper {
    a {
      font-size: 16px;
    }
    position: relative;
    .fullname, .links {
      position: absolute;
      top: 10px;
    }
    .fullname {
      left: 10px;
    }
    .links {
      right: 10px;
    }
  }
}

.hidden {
  display: none;
}

.swiper-container {

  img {
    max-width: 95%;
    max-height: 87.5%;
  }

  .swiper-slide {
    text-align: center;
    min-height: 200px;
    padding-top: 40px;
    cursor: ew-resize;
    .short {
      font-size: $font-size-text;
      margin-top: 5px;
      color: grey;
    }
  }
}

@media (min-width: 960px) {
  .gallery-item {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
  }
}