@import "reset";
@import "../../node_modules/flickity/css/flickity";

$font-size-text: 11px;
$font-size-small: 9px;

body {
  font-family: Helvetica, sans-serif;
  line-height: 13px;
}

a {
  color: black;
}

#main-wrapper {
  margin: 10px;
}

#personal {
  margin-bottom: 40px;
}

// Only index page
#galleries-wrapper {
  margin-top: 20px;
}

.gallery-container {
  padding: 10px;
}

.gallery-image {
  display: inline-block;
}
.description {
  margin-top: 10px;
}

.the-content {
  margin-top: 10px;
  text-align: center;
}

#single-actions {
  position: absolute;
  right: 10px;
  top: 10px;
  a {
    margin-right: 10px;
  }
  a:last-child {
    margin-right: 0;
  }
}

#home-link, p, td, a {
  font-size: $font-size-text;
}

#copyright-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  font-size: $font-size-small;
}

.hidden {
  display: none;
}

/* carousel height, as percentage of width */
.carousel {
  margin-top: 65px;
  padding-bottom: 33.3%;
}

/* viewport inherit size from carousel */
.carousel .flickity-viewport {
  position: absolute;
  width: 100%;
}

/* cell inherit height from carousel */
.carousel-cell {
  height: 100%;
  margin-right: 1000px;
  margin-left: 1000px;
}
