@import "reset";

$font-size-text: 12px;
$font-size-small: 10px;

body {
  font-family: Helvetica, sans-serif;
  line-height: 13px;
}

#main-wrapper {
  margin: 10px;
}

// Only index page
#galleries-wrapper {
  margin-top: 20px;
}

.gallery-container {
  padding: 10px;
}

.gallery-image {
  display: inline-block;
}
.description {
  margin-top: 10px;
}

.the-content {
  margin-top: 10px;
}

#home-link, p, td {
  font-size: $font-size-text;
}

#copyright-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  font-size: $font-size-small;
}



p, td {
  line-height: 13px;
}
