@import "reset";

$font-size-text: 11px;
$font-size-small: 9px;

body {
  font-family: Helvetica, sans-serif;
  line-height: 13px;
  letter-spacing: 1px;
}

#main-wrapper {
  margin: 75px 10px 10px 10px;
}

a {
  color: black;
}

// Only index page
#gallery {
  text-align: center;
  max-width: 75%;
  margin: 0 auto;
}

.gallery-item {
  padding: 10px;
  display: inline-block;
}

.gallery-image {
  display: inline-block;
}
.description {
  margin-top: 10px;
}

.the-content {
  margin-top: 10px;
  text-align: center;
}

.the-title {
  position: absolute;
  left: 10px;
  top: 10px;
}

#single-actions {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  a {
    margin-right: 10px;
  }
  a:last-child {
    margin-right: 0;
  }
}

#home-link, p, td, a {
  font-size: $font-size-text;
}

#copyright-section {
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: $font-size-small;
}

#personal, #copyright-section {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-color: black;
  color: white;
}

#personal {
  top: 0;
  height: 37px;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .wrapper {
    position: relative;
    .fullname, .links {
      position: absolute;
      top: 10px;
    }
    .fullname {
      left: 20px;
    }
    .links {
      right: 20px;
    }
  }
}

.hidden {
  display: none;
}

.swiper-container {

  img {
    max-width: 85%;
    max-height: 85%;
  }

  .swiper-slide {
    text-align: center;
    min-height: 200px;
    padding-top: 10px;
  }
}
