@import "reset";

$font-size-big: 14px;
$font-size-text: 11px;
$font-size-small: 9px;

body {
  font-family: Helvetica, sans-serif;
  line-height: 13px;
  letter-spacing: 1px;
}

#main-wrapper {
  margin: 75px 10px 10px 10px;
  //min-height: 100vh;
}

#content-wrapper {
  margin: 75px auto 10px auto;
  max-width: 1110px;
  padding: 0 50px;
  text-align: center;
}

a {
  color: black;
  &:hover {
    text-decoration: none !important;
  }
}

// Only index page
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.gallery-item {
  padding: 2rem;
  width: 100%;
  .gallery-image {
    img {
      width: 100%;
      max-width: 100%;
      // max-height: 90%; // old browsers
      // max-height: 90vh; // modern browsers (old ones ignore this)
    }
  }
  &.fullwidth {
    .gallery-image {
      img {
        width: 100%;
      }
    }
  }
}

#image-wrapper {
  width: 100%;
  margin: 0 auto;
}

#image-container {
  width: 90%;
  margin: 100px auto 0 auto;
  .image {
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
      margin-bottom: 30px;
      max-height: 95vh;
    }
  }
}

.the-title {
  font-size: $font-size-big;
  position: fixed;
  left: 20px;
  top: 60px;
  display: none;
}

#single-actions {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  a {
    margin-right: 10px;
  }
  a:last-child {
    margin-right: 0;
  }
}

p, td, a {
  font-size: 16px;
  text-decoration: none;
}

#copyright-section {
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: $font-size-small;
  background-color: black;
  color: white;
}

#personal {
  position: fixed;
  z-index: 9999999;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 37px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .wrapper {
    a {
      font-size: 16px;
    }
    position: relative;
    .fullname, .links {
      position: absolute;
      top: 10px;
    }
    .fullname {
      left: 10px;
    }
    .links {
      right: 10px;
    }
  }
}

.hidden {
  display: none;
}

@media (min-width: 960px) {
  #gallery {
    width: 60%;
  }
  .gallery-item {
    width: 50%;
    &.fullwidth {
      width: 100%;
    }
    box-sizing: border-box;
    text-align: center;
  }

  #image-container {
    width: 70%;
  }

  .the-title {
    display: block;
  }
}