{{ if isset .Params "gal" }}
  {{ $gallery := .Params.gal }}
  {{ $dir := (printf "static/photos/%s/" $gallery) }}
  {{ $permaLink := substr (relURL .Permalink) 0 -1 }}

  <div class="gallery-item">

    {{ range $m := first 1 (where .Params.photos "featured" true) }}
      {{ $imageName := index $m "name" }}
      {{ $alt := index $m "alt" }}
      {{ $size := or (index $m "size") "md" }}
      {{ $margin := index $m "margin" }}
      {{ $thumbPath := (printf "/photos/%s/thumb_%s-%s" $gallery $size $imageName) }}
      {{ if (where (readDir $dir) "Name" $imageName) }}
        {{ with (imageConfig (printf "/static%s" $thumbPath)) }}

        <div class="gallery-image">

            <a href="{{ $permaLink }}">

              <img class="lazy" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}"
                {{ if $margin }}
                  style="

                    {{ if index $margin "top" }}
                      margin-top: {{ index $margin "top" }}px;
                    {{ end }}

                    {{ if index $margin "bottom" }}
                      margin-bottom: {{ index $margin "bottom" }}px;
                    {{ end }}

                    {{ if index $margin "left" }}
                      margin-left: {{ index $margin "left" }}px;
                    {{ end }}

                    {{ if index $margin "right" }}
                      margin-right: {{ index $margin "right" }}px;
                    {{ end }}

                        "
                {{ end }}
                  data-original="{{ $thumbPath }}"/>
            </a>

          {{ else }}
            <p>{{ substr (printf "/photos/%s/%s" $gallery $imageName) 1 }} does not exist</p>
          {{ end }}

        </div>
      {{ end }}
    {{ end }}

    <p class="description">{{ .Title }}</p>
  </div>

{{ end }}
