{{ if isset .Params "gal" }}
  {{ $type := .Params.gal }}
  {{ $imageMetaData := index .Site.Data $type }}
  {{ $files := readDir (printf "/static/photos/%s" .Type) }}
  <div class="gallery-container">
    {{ range $files }}
      {{/* Bloody hack for checking if the file is a folder */}}
      {{ $len := (len (split .Name ".")) }}
      {{/* only files (no folders) and no thumbs */}}
      {{ if and (not (eq $len 1)) (not (hasPrefix .Name "thumb-")) }}
        {{ $path := (printf "/photos/%s%s" $type (relURL .Name)) }}
        {{ $thumbPath := (printf "/photos/%s/thumb-%s" $type .Name) }}
        {{ $meta := index $imageMetaData .Name }}
        <div class="gallery-image">
          <a data-title="{{ $meta.alt }}" href="{{ $path }}" data-lightbox="t_will">
            <img alt="{{ $meta.alt }}" src="{{ $thumbPath }}"/>
          </a>
          <p>{{ $meta.short }}</p>
        </div>
      {{ end }}
    {{ end }}
    <p class="description">{{ .Params.description }}</p>
  </div>
{{ end }}
